Reports/inqueue
Reports/outqueue
Reports/__pycache__
*.xlsx
*.py
# Exceptions for the following 
!ReportMailer.py
!ReportTimerange.py
!GuestbookDbConnect.py

guestbook_secrets.ini 

.ipynb_checkpoints/
*.html

